body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stats-div{
	margin: auto;
	text-align: center;
}

.stats {
	display: inline;
	margin: 0 20px;
}

table{
	margin: auto;
}

.square {
	height: 20px;
	width: 20px;
/*	border-style: solid;
	border-width: 1px;*/
}

/*-1*/
.player {
	background-color: blue;
}
/*0*/
.wall { 
	background-color: gray;
}
/*1*/
.dungeon {
	background-color: silver;
}
/*2*/
.enemy {
	background-color: red;
}
/*3*/
.item {
	background-color: yellow;
}
/*4*/
.health {
	background-color: green;
}
/*5*/
.manhole {
	background-color: black;
}